<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    {% include "header.html" %}
</head>
<body style="background-color: #D3D3D3;">
{% block content %}
    <h4>
        {% for message in messages %}
            {{ message }}<br>
        {%endfor%}
    </h4>
{% endblock %}
<br><br><br>
<form action="/chatprocess" method="POST">
    <input type="text" id="textinput" name="textinput" autofocus="autofocus"><br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>