<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    {% include "header.html" %}
</head>
<body style="background-color: #36454F;">
<h2>Account Registration</h2><br>
<ul>
    <li>Usernames must contain only letters or numbers</li>
    <li>Usernames must be longer than 5 characters but less than 15</li>
    <li>Passwords must be greater than 5 characters but less than 15</li>
</ul><br>

<form action="/registerauth" method="POST">
    <label for="username">Name:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br><br>
    <input type="submit" value="Submit">
</form>
<br><br>
{{ message }}
</body>
</html>