<!DOCTYPE html>
<html>
<body style="background-color: #36454F;">
<h2>Account Registration</h2><br>
<ul>
    <li>usernames must contain only letters or numbers</li>
    <li>usernames must be longer than 5 characters but shorter than 15</li>
    <li>passwords must be greater than 5 characters but less than 15</li>
</ul><br>

<form action="/registerauth/" method="POST">
    <label for="username">Name:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>